<div class='container'>
    <div class='list-container'>
        <h2>Movies I Want to Watch</h2>
        <ul class='movie-list'>
          <li>Movie 1</li>
          <li>Movie 2</li>
          <li>Movie 3</li>
        </ul>
      </div>
      
      <div class='list-container'>
        <h2>Movies I Have Watched</h2>
        <ul class='movie-list'>
          <li>Movie 4</li>
          <li>Movie 5</li>
          <li>Movie 6</li>
        </ul>
      </div>
</div>
<div class='container'>
    <input class='movie-input'>
    <button id='submit' type='button'>Submit</button>
</div>