<div class='container'>
    <div class='list-container'>
        <h2>Movies I Want to Watch</h2>
        <ul class='movie-list'>
          <li *ngFor='let movie of moviesToWatch; let i = index'>
            <img src={{movie.Poster}} alt={{movie.Title}}>
            <button type='button' (click)="watchedMovie(movie, i)">X</button>
          </li>
        </ul>
      </div>
      
      <div class='list-container'>
        <h2>Movies I Have Watched</h2>
        <ul class='movie-list'>
          <li *ngFor='let movieWatched of moviesAlreadyWatched'>
            <img src={{movieWatched.Poster}} alt={{movieWatched.Title}}>
          </li>
        </ul>
      </div>
</div>
<div class='container'>
    <input class='movie-input' 
      (keyup.enter)='addMovie(newMovie.value)'
      [(ngModel)]='movieInput'
      #newMovie>
    <button id='submit' type='button' (click)='addMovie(newMovie.value)'>Submit</button>
</div>